@CHARSET "UTF-8";
body{
	background-color: aqua;
	font-family: sans-serif;
}
.footer{
	width: 100%;
	border: medium;
	border-style: dashed;
	border-color: fuchsia;
}
.home{
	background-image:url('/SpringJAXWS/resources/images/su-30mki-russia-fighter.jpg');
	background-size:75%;
	background-repeat:no-repeat;
	width: 100%;
	height: 88%;
}
.menu{
	
}
.baseTable{
	width: 100%;
	height: 100%;
}
.text-center{
	text-align: center;
}
.font-white{
	color: white;
}
